<ion-header>
  <ion-toolbar>
    <ion-title>add-expenditure-popover</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-icon name="add" (click)=addExpenditure()></ion-icon>
  <ion-select [(ngModel)]="newExpenditure.expenditureType" interface="action-sheet">
    <ion-select-option *ngFor="let type of expenditureTypeList" [value]="type">{{type}}</ion-select-option>
  </ion-select>
  <ion-input type="number" [(ngModel)]="newExpenditure.expenditureNumber"></ion-input>
  <ion-datetime id="customDayShortNames" 
  display-format="DDD. MMM DD, YYYY"
  month-short-names="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec" 
  (ionChange)="dateSelected($event)"
  [(ngModel)]="currentDate"
  ></ion-datetime>
</ion-content>